.fighter-preview___root {
  display: flex;
  flex-direction: column;
}

.fighter-preview___right {
  display: flex;
	flex-direction: row;
}

.fighter-preview___left {
  display: flex;
	flex-direction: row-reverse;
}

.fighter-preview___img {
  max-height: 380px;
}

.fighter-stats-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
  font-size: 18px;
}
